@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body{
    /* background-color: #070749; */
    /* background-color: #0a1f44;
background-image: url(contents/photos/bg.svg) ;  */

background: url(contents/photos/nice.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


.text-header{
    color: white;
    font-size: 64px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.cardTitle{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.badgeText{
    font-size: 14px;
    font-weight: 500;
    top: 3px;
}

.numberText{
    font-size: 104px;
    font-weight: 700;
}

sup{
    font-size: 48px;
    top: -40px;
    font-weight: 500;
}

.weatherImg{
    width: 150px;
}

.img-thumbnail{
    border: none;
}

.bottomText{
    font-weight: 500;
}

.card{
    border-radius: 20px;
}
.fixed-bottom{
    background-color: #0e202e !important;
   
}

.footerText{
    color: white !important; 
    overflow-wrap: break-word;
    font-weight: 350;
    font-size: 18px;

@media only screen and (max-width: 572px) {
    .cardStyle{
        width: 18rem;
        margin: auto;
    }
  }
  @media only screen and (max-width: 375px) {
    .text-header{
       font-size: 56px;
    }
  }

  @media only screen and (max-width: 330px) {
    li{
       display: flex;
       justify-content: center;
    }
  }
   .cardStyle{
       margin-bottom: 18px;
   }